name: Release

on:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: Deploy Site
    runs-on: ubuntu-latest
    environment:
      name: live
      url: https://www.followtheprocess.codes
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Spell Check
        uses: crate-ci/typos@v1.39.2
        with:
          config: .typos.toml

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true

      - name: Build Site
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: hugo --minify --baseURL https://www.followtheprocess.codes/

      - name: Assume Deployment Role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_PROD }}:role/static-site-upload-role
          aws-region: "eu-west-2"

      - name: Deploy Site
        run: aws s3 sync public s3://www.followtheprocess.codes --delete --sse AES256
